@import url("https://cdn.jsdelivr.net/gh/qbosen/logseq-dev-theme@main/src/external-icons.css");

@import url('https://playerofgames.github.io/logseq-mia-theme/mia_sans_compact.css');

/*
:root {
  --fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif, "Noto Color Emoji";
}
html, body {
  font-family: var(--fontFamily);
  font-size: calc(100vw/68)
}
*/

#head > div.r.flex.drag-region > div:nth-child(4) {
  padding-right: 0.9em;
}

/* div.sidebar-container.sidebar-collapsed > div:nth-child(1) > div {
  padding-top: 5em; !important
} */
