@import url("https://cdn.jsdelivr.net/gh/qbosen/logseq-dev-theme@main/src/external-icons.css");

@import url('https://playerofgames.github.io/logseq-mia-theme/mia_sans_compact.css');

.light, .light-theme, .white-theme, html[data-theme=light] {
  --ls-primary-background-color: #fff;
  --ls-secondary-background-color: #f6f6f6;
}

.r.flex.drag-region {
  padding-right: 40px !important;
}

div.r.flex.drag-region {
  padding-right: 40px;
}

#head > div.r.flex.drag-region {
  padding-right: 40px;
}

mark {
  background: linear-gradient(to top, #a7c6ffc7 35%, transparent 75%) 0 -3px;
}

:is(.dark, .dark-theme) mark {
  background-color: none !important;
}

/*
:root {
  --fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif, "Noto Color Emoji";
}
html, body {
  font-family: var(--fontFamily);
  font-size: calc(100vw/68)
}
*/

/* #head > div.r.flex.drag-region > div:nth-child(4) {
  padding-right: 0.9em;
} */

/* button.button.icon.toggle-right-sidebar {
  padding-right: 0.9em;
  padding-left: 0.4em;
} */

/* div.sidebar-container.sidebar-collapsed > div:nth-child(1) > div {
  padding-top: 5em; !important
} */
