@import url("https://cdn.jsdelivr.net/gh/qbosen/logseq-dev-theme@main/src/external-icons.css");

@import url('https://cdn.jsdelivr.net/gh/gavinmn/logseq-luma/custom.css');

:root {
  --fontFamily: "Helvetica Neue", Helvetica, Arial, "Arial Unicode MS", sans-serif, "Noto Color Emoji";
}
html, body {
  font-family: var(--fontFamily);
  font-size: calc(100vw/68)
}
